body{
    background: white;
    font: normal 15pt Times;
    background-image: url("bannerbackground.png");
    background-repeat: no-repeat;
}
header{
    margin-left: 50px;
    color: grey;
    font-weight: bold;
    text-align:left;
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
}
#titulo{
    float: left;
}
#botoes{
    float: right;
    margin-top: 44px;
    margin-right: 30px;
}
nav{
    display: inline-block;
}
#proj:hover{
    background-color: #000000;
    transition: 0.5s;
    opacity: 0.7;
    border-radius: 5px;
}
#sobre:hover{
    background-color: #000000;
    transition: 0.5s;
    opacity: 0.7;
    border-radius: 5px;
}
hr{
    border-color: #000000;
    opacity: 0.4;
}
.bloco1{
    background: #FAF8F4;
    border-radius: 10px;
    padding: 15px;
    width: 355px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    float: left;
    margin-left: 50px;
    margin-top: 70px;
}
#foto{
    border-radius: 10px;
}
#curriculo:hover{
    background-color: grey;
    transition: 0.5s;
    opacity: 0.7;
    border-radius: 5px;
}
.bloco2{
    font: normal 12pt monospace;
    background: #FAF8F4;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    float: right;
    margin-right: 200px;
    text-align:justify;
    margin-bottom: 50px;
    color: #333332;
    margin-top: 70px;
}
#redes{
    letter-spacing: 10px;
}
#linkedin:hover{
    transition: 0.5s;
    opacity: 0.5;
    border-radius: 5px;
}
#github:hover{
    transition: 0.5s;
    opacity: 0.5;
    border-radius: 5px;
}
#instagram:hover{
    transition: 0.5s;
    opacity: 0.5;
    border-radius: 5px;
}
footer{
    margin-top: 100px;
    color: black;
    text-align: center;
    font-style: italic;
}
